﻿
@Code
    ViewData("Title") = "Home Page"
End Code

        <div class="grid grid-pad">
    <div class="col-1-3">
       <div class="content" style="font-size:12px; border:solid 1px #ccc">
       <a href="@Url.Action("Index","Shuls")">By Shul</a>
       </div>
       </div>
    <div class="col-1-3">
       <div class="content" style="font-size:12px; border:solid 1px #ccc"">
       <a href="#remain">Remaining Minyanim Today</a>
       </div>
       </div>
           <div class="col-1-3">
       <div class="content" style="font-size:12px; border:solid 1px #ccc"">
       <a href="#manana">Minyanim Tomorrow</a>
       </div>
       </div>
       </div>
       <br />


<b style="font-size:18px;">** Site Closed Until Summer **</b><br />

