﻿@media (max-width: 480px) {
  .timeheight { max-height:290px; overflow:hidden; }
     .buffertop { margin:20px 0 0 0; }
     .mobilepaddit {margin-top:30px; }
     .time-table-thin { max-width: 100px; }
     .hideonmobile { display:none; }
}

    .padding100 { width:100%; height:100px; }
   .padding50 { width:100%; height:50px; }    
    #zmanim { line-height:14px; }
    #zmanim b { width:60%; text-align:right; float:left; font-weight:normal; }
    #zmanim span {  width:30%; text-align:left; float:left; margin-left:4px; }
    a.navlinks { font-family:Arial, Verdana; font-size:16px; color:#4989d7; margin: 7px 0 0 0; height:35px; float:left;}
    .header {  margin:35px 0 35px 0; }
    .header div { height: 35px; }
    .fix-icon { float:left; margin:5px 2px 0 0; }
    .big-button { background-color: #4989d7; color: #fff; }
    .line { height:1px; background-color:#707070; }
 
    .paddit {margin-top:30px; }
    
    #zmanin span { width:50px; }
    
    .shul-dropdown {width:95%; moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	 background-color:#4989d7;  color:#fff; margin:5px 0 0 0; font-weight:bold; 
	 border:0; }
    
    
    @@media (min-width: 481px) {
      .timeheight { height:290px; overflow:hidden; }
      .timewidth { text-align: center; }
      .buffertop { margin:70px 0 0 0; }
      .tablecenter { text-align:center;  } 
    }
   
    .valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}
    